body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2e8b57; /* Verde floresta */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(253, 247, 253);
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-items: center;
}

.section-content.reverse-order {
    flex-direction: row-reverse;
}

.image-container {
    flex: 1;
    min-width: 300px; /* Garante que a imagem não fique muito pequena */
    margin: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block; /* Remove espaço extra abaixo da imagem */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.text-container {
    flex: 2;
    min-width: 300px; /* Garante que o texto não fique muito pequeno */
    margin: 10px;
}

.text-container.full-width {
    flex: 1; /* Ocupa toda a largura disponível */
}

.text-container h2 {
    color: #2e8b57; /* Verde floresta */
    margin-top: 0;
    font-size: 2em;
}

footer {
    background-color: #36454F; /* Cinza escuro */
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .section-content, .section-content.reverse-order {
        flex-direction: column;
    }

    .image-container, .text-container {
        min-width: unset; /* Remove a largura mínima para melhor adaptação */
        width: 100%;
        margin: 10px 0;
    }

    header h1 {
        font-size: 1.8em;
    }

    .text-container h2 {
        font-size: 1.5em;
    }
}